<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CybernaWallet</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Bienvenue sur CybernaWallet</h1>
    <p>Gérez vos CBR et BTC ici.</p>
    <button onclick="generateWallet()">Générer un Wallet</button>

    <script>
        function generateWallet() {
            fetch('/generate_wallet', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                alert("Wallet créé ! Adresse publique : " + data.public_address);
            });
        }
    </script>
</body>
</html>
